<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 这里填写对应的Dao文件所在的路径 -->
<mapper namespace="com.learning.dao.UserDao">
    <!-- 填写数据库里实例User对应的表的表名 -->
    <!-- 这里是作为一个变量使用 -->
    <sql id="table">user</sql>

    <!-- id属性填写Dao文件里的函数名称 xxType是参数或是结果的类型根据情况填写 -->
    <!-- 查询所有   -->
    <select id="getAll" resultType="com.ljsh.test.model.Person">
        SELECT
        *
        FROM
        <include refid="table" />
    </select>
</mapper>